.categoryName {
    float: left;
}

.searchProduct {
    width: 100%;
    border-radius: 8px;
}

.contentHeader {
    padding: 10px 16.3%;
}

.searchBlock {
    margin-bottom: 20px;
}

.filters {
    height: 205px;
    padding: 10px 10px;
    margin-top: 40px;
    border: 1px solid rgb(229, 229, 229);
}

.priceFilter {
    width: 100%;
}

.range-quantity {
    background-color: rgb(235, 110, 153) !important;
}

.priceFilterBlock {
    width: 56%;
    padding-left: 25px;
    float: left;
}

.filterValue {
    margin-left: 36px;
    margin-top: 26px;
    width: 45px;
    border-radius: 4px;
    font-size: 12px;
    height: 27px;
    text-align: center;
    border: 1px solid rgb(229, 229, 229);
    font-weight: bold;
}

.inStockInfo {
    width: 150px;
    height: 50px;
}

.inStockCheckbox {
    float: right;
    margin-top: -25px;
}

.sorts {
    padding: 10px 10px;
}

.sortBlock {
    float: right;
}

@media (max-width: 879px) {
    .product {
        min-height: 310px;
    }

    .productImage {
        width: 100%;
        text-align: center;
    }

    .productImage img {
        height: 149px;
        max-width: 100%;
    }

    .productInfo {
        border-block-start: 1px solid rgb(229, 229, 229);
        width: 100%;
        padding: 10px;
    }

}

@media (max-width: 577px) {
    .product {
        min-height: 420px;
    }

    .productInfo1, .productInfo2 {
        width: 100%;
        padding: 0px 10px;
    }
}
