li {
    border: none !important;
}

.leftPanel {
    padding: 10px;
    border: 1px solid grey;
    max-height: 300px;
    margin-left: 20px;
}

.leftPanel li {
    font-size: 14px;
}

.leftPanel a {
    color: black;
}

.orderInfoPanel input , .orderInfoPanel select{
    width: 100%;
}

.orderInfoPanel .formButton {
    width: 50%;
}

.orderInfoPanel label {
    float: left;
}

li > h5 {
    margin-top: 10px;
}

.variant {
    padding: 10px;
}

.headerText {
    font-size: 20px;
}

.leftPanel li label:hover{
    color: rgb(215, 69, 144);
}

.operation:hover {
    background: whitesmoke;
}

.mainPanelBlock {
    padding: 10px 20px;
}

.subBlock {
    padding: 0 20px;
    color: grey;
}

.subBlock li{
    border-block-end: 1px solid black;
    margin-bottom: 5px;
}

.subBlock label {
    margin-right: 10px;
}

.leftPanel hr {
    width: 306px;
    margin-left: -14px;
}

.changePassword input {
    width: 100%;
}

.messageBlock {
    margin: 2px 3%;
}

.category {
    border: 1px solid beige;
    width: 350px;
    margin-bottom: 10px;
    height: 32px;
}

.category input{
    float: left;
}

.category button{
    margin-left: 10px;
    display: inline-block;
}

.category img {
    cursor: pointer;
}

.categoryOperations {
    float: right;
    margin-top: 5px;
}

.categoryText {
    float: left;
    height: 30px;
    font-size: 18px;
}

.categoryTextBlock {
    height: 30px;
}

.categoryOperations > img {
    float: left;
    width: 30px;
}

.categoryOperations form {
    float: right;
}

.categoryOperations button {
    background: none;
    border: none;
}

.categoryOperations button img {
    width: 16px;
}

.categoryFormBlock {
    display: none;
    height: 32px;
}

.categoryFormBlock button{
    float: right;
}

.categoryFormBlock input {
    width: 82%;
    font-weight: bold;
    padding-left: 7px;
    font-size: 16px;
}

.ordersBlock {
    width: 100%;
}

.orderTable {
    border: 1px solid grey;
}

tr:nth-child(even){
    background: pink;
}

tr {
    border-block-end: 1px solid grey;
}

td {
    border: 1px solid grey;
    padding: 10px;
}

.categoryName {
    float: left;
    margin-left: 16%;
}

.productsBlock {
    margin: 70px 16%;
}

.productList {
    width: 100%;
}

.productList li:not(:nth-child(1)) {
    margin-top: 30px;
}

.productOperations {
    float: right;
    border: 1px solid rgb(229, 229, 229);
    height: 150px !important;
}

.productOperations *{
    width: 15px;
    margin-top: 18px;
    cursor: pointer;
}

.product {
    border: 1px solid rgb(229, 229, 229);
    height: 150px;
    width: 94%;
    float: left;
    margin-bottom: 30px;
}

.product > div {
    height: 148px;
}

.productImage {
    float: left;
    width: 30%;
}

.productImage img {
    padding: 1%;
    height: 100%;
}

.productInfo {
    width: 55%;
    float: right;
    margin-left: 5%;
}

.productInfo1 {
    float: left;
    width: 50%;
    font-size: 13px;
    margin: 10px 0px;
}

.productInfo2 {
    float: right;
    display: inline-block;
    margin: 10px 0px;
    width: 50%;
}

.productName {
    font-size: 18px;
}

.productPrice {
    font-size: 14px;
}

.quantityInStock {
    color: grey;
    font-size: 12px;
}

.productPrice {
    font-size: 17px;
}

.address {
    min-height: 70px;
}

.address img {
    cursor: pointer;
}

.addressFormBlock {
    display: none;
}

.addressInfo {
    width: 100%;
    float: left;
}

.addressOperations {
    width: 100%;
}

.addressOperations button{
    float: left;
    margin-right: 7px;
    width: 74px;
}

.editProfileBlock li{
    margin-bottom: 120px;
}

.addAddressBlock {
    display: none;
    padding: 10px
}

.addAddressBlock input {
    width: 100%;
}

.emptyListLabel {
    margin-left: 50px;
    font-size: 20px;
}

.byCardBlock{
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid rgb(229, 229, 229);
    border-block-end: 1px solid grey;
}

.cardsImage {
    float: left;
    width: 20%;
}

.cardsImage img{
    width: 100%;
}

.orderInfoInCardBlock{
    width: 50%;
    /*     margin-left: 10%; */
}

.orderInfoInCardBlock > div{
    width: 250px;
}

.orderInfoPoint {
    float: left;
    color: grey;
}

.orderInfoValue {
    float: right !important;
}

.priceOrderInfo {
    font-size: 20px;
}

.cardDate {
    height: 50px;
}

.cardDate input{
    float: left;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}

.totalPrice {
    float: right !important;
}

.couponBlock {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    min-width: 300px;
    height: 210px;
    background: white;
    margin-left: 10%;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    display: none;
    padding: 10px;
}

.couponBlock > label {
    margin-left: calc((100% - 165px)/2);
}

.couponBlock > p{
    text-align: center;
}

.continueCouponButton {
    display: none;
}

.continueCouponButton, .checkCouponButton {
    float: right;
    width: 40%;
}

.noCouponButton {
    float: left;
    width: 59%;
    font-size: 80%;
}

.priceBlock {
    margin: 70px 16%;
    border-block-start: 1px solid black;
    border-block-start-style: dashed;
}

.priceBlock p {
    font-size: 20px;
}

.productsWindow {
    width: 80%;
    display: none;
    background: white;
}

.productsWindow > img {
    width: 20px;
    margin: 10px;
}

.productsWindow .orderProductList {
    padding: 10px;
}

@media (max-width: 1060px) {
    .product {
        min-height: 310px;
    }

    .productImage {
        width: 100%;
    }

    .productImage img {
        height: 149px;
        max-width: 100%;
    }

    .productInfo {
        border-block-start: 1px solid rgb(229, 229, 229);
        width: 100%;
        padding: 10px;
    }

}

@media(max-width: 709px) {
    .product {
        min-height: 420px;
    }

    .productInfo1, .productInfo2 {
        width: 100%;
        padding: 0px 10px;
    }
}

@media(max-width: 576px){
    .leftPanel {
        width: 87%;
    }

    .productOperations {
        width: 94%;
        height: 40px !important;
        margin-top: -30px;
    }

    .productOperations > div {
        width: 100%;
        margin-top:-10px;
    }

    .productOperations div *:not(.numberOfProduct) {
        float: left;
        width: 20px;
        margin-right: 19%;
    }

    .minus {
        margin-top: 25px;
    }

    .couponBlock {
        margin-left: 5%;
    }
}

@media(max-width: 408px) {
    .orderInfoInCardBlock {
        width: 59%;
        font-size: 10px;
    }

    .orderInfoInCardBlock div {
        width: 100%;
    }

    .priceOrderInfo{
        font-size: 10.5px;
    }
}