.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapperForFooter {
    height: 100%;
    flex: 1 0 auto;
}

.headers {
    padding: 10px 17%;
}

.headers > div {
    height: 60px;
    margin-bottom: 10px;
}

#firstHeader {
    font-size: 12px;
}

#firstHeader img {
    width: 120px;
}

#logoDiv {
    float: left;
}

#basketDiv {
    float: right;
    margin-right: 7%;
}

.logo {
    width: 250px;
    cursor: pointer;
}

#basket {
    width: 80px;
    cursor: pointer;
}

#thirdHeader {
    height: 30px !important;
}

.content {
    flex: 1 0 auto;
    /*     margin: 50px auto; */
    padding: 10px;
    min-height: 700px;
}

#footer {
    height: 40px;
    border-block-start: 1px solid black;
    flex: 1 0 auto;
    padding: 0px 10px;
}

.categoryText {
    font-weight: bold;
}

hr {
    margin: 0 -25%;
}

.footerData {
    float: left;
}

.footerText {
    float: left;
    margin-left: 20px;
}

#basketInfo {
    position: absolute;
    float: right;
    top: 150px;
    right: 18%;
    border: 1px solid #d7d7d7;
    width: 170px;
    text-align: center;
    border-block-start: 2px solid rgb(215, 69, 144);
    display: none;
}

#basketDiv:hover > #basketInfo{
    display: block;
}

.formButton {
    background: rgb(215, 69, 144);
    border: rgb(215, 69, 144);
    font-size: 13px;
    color: white;
}

.formButton:hover {
    background: rgb(235, 112, 151);
}

.formButton:active {
    background: red;
}

#mobileHeader .submenu {
    display: none;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}

.article {
    font-size: 35px;
    font-weight: bold;
}

.becomeRepresentativeBlock {
    border: 1px solid grey;
    height: 130px;
    /*     width: 90%; */
    margin: 0px 10%;
}

.becomeRepresentativeBlock p:not(.article) {
    font-size: 19px;
}

.becomeRepresentativeBlock .row > div {
    padding: 10px;
}

.presentImage {
    margin-top: 20px;
}

.buttonBlock {
    margin-top: 35px;
}

.buttonBlock .formButton {
    width: 150px;
    height: 40px;
    font-size: 18px;
}

@media (max-width: 1409px) {
    .article {
        margin-top: 20px;
        font-size: 25px;
    }
}

@media (max-width: 822px) {
    .presentImage {
        display: none;
    }
}

@media (min-width: 577px) {
    .mobileHeader {
        display: none;
    }

    .becomeRepresentativeBlock {
        height: 150px;
    }

    .becomeRepresentativeBlock .formButton {
        margin-top: 10px;
    }

    .becomeRepresentativeBlock p:not(.article) {
        font-size: 17px;
    }
}

@media (max-width: 576px) {
    .mobileMenu {
        position: fixed;
        left: 0;
        top: 92px;
        z-index: 1;
        width: 58%;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-color: #fff;
        transition: 0.5s;
        transform: translateX(-100%);
        border: 1px solid black;
    }
    .menu_active {
        transform: translateX(0%);
    }
    .mobileMenu ul {
        padding: 10px;
    }
    .mobileMenu li {
        font-size: 18px;
    }
    .menuButtonBlock {
        float: left;
    }
    .menuButton {
        background: white;
        border: none;
        cursor: pointer;
    }
    .menuButton ion-icon {
        font-size: 30px;
    }
    .logoBlock {
        float: left;
        margin-left: 20%;
        margin-top: 6px;
    }
    .lastBlock {
        margin-top: 5px;
        float: right;
        display: inline-block;
    }
    .largeHeader, #secondHeader, #thirdHeader {
        display: none;
    }
    .logo {
        width: 150px;
    }
    .headers{
        padding: 0 0;
        margin: 10px 20px;
    }
    #basket{
        width: 50px !important;;
        margin-top: -10px;
    }
    #basketInfo {
        top: 80px;
        right: 0px;
    }
    #login{
        width: 70px !important;;
    }
    #pull {
        display: unset;
    }
    hr {
        margin: 0 -5%;
    }

    .becomeRepresentativeBlock {
        height: 250px;
    }

    .becomeRepresentativeBlock .formButton {
        margin-top: -60px;
    }
}

@media(max-width: 420px) {
    .logoBlock {
        margin-left: 13%;
    }
    .logo {
        width: 120px;
    }
}