.leftPanel {
    border: 1px solid grey;
    margin-left: 20px;
    /*     height: 340px; */

}

.leftPanel li {
    font-size: 14px;
}

li > h5 {
    margin-top: 10px;
}

.variant {
    display: none;
    padding: 10px;
}

.headerText {
    font-size: 20px;
}

.leftPanel li label:hover{
    color: rgb(215, 69, 144);
}

.operation:hover {
    background: whitesmoke;
}

.mainPanelBlock {
    padding: 10 20;
}

.subBlock {
    padding: 0 20px;
    color: grey;
}

.subBlock li{
    border-block-end: 1px solid black;
    margin-bottom: 5px;
}

.subBlock label {
    margin-right: 10px;
}

.leftPanel hr {
    width: 306px;
    margin-left: -14px;
}

.changePassword input {
    width: 100%;
}

.messageBlock {
    margin: 0px 20px;
}

@media (max-width: 576px) {
    .leftPanel {
        width: 87%;
    }
}