.registrationBlock {
    border: 1px solid whitesmoke;
    width: 40%;
}

label {
    margin: 0px 5px;
}

input {
    width: 98%;
    margin: 0px 5px;
}

.formMessage {
    display: none;
}

@media (max-width: 577px) {
    .registrationBlock {
        width: 90%;
    }
}ø