.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapperForFooter {
    height: 100%;
    flex: 1 0 auto;
}

.headers {
    padding: 10px 17%;
}

.headers > div {
    height: 60px;
    margin-bottom: 10px;
}

.firstHeader {
    font-size: 12px;
}

.firstHeader img {
    width: 120px;
}

#logoDiv {
    float: left;
}

#basketDiv {
    float: right;
    margin-right: 7%;
}

#logo {
    width: 250px;
    cursor: pointer;
}

#basket {
    width: 80px;
    cursor: pointer;
}

.thirdHeader {
    height: 30px !important;
}

.content {
    flex: 1 0 auto;
    margin: 50px auto;
    padding: 10px;
    min-height: 700px;
}

.footer {
    height: 40px;
    border-block-start: 1px solid black;
    flex: 1 0 auto;
}

.categoryText {
    font-weight: bold;
}

hr {
    margin: 0 -25%;
}

.footer {
    padding: 0 10;
}

.footerData {
    float: left;
}

.footerText {
    float: left;
    margin-left: 20px;
}

#basketInfo {
    position: absolute;
    float: right;
    top: 150px;
    right: 18%;
    border: 1px solid #d7d7d7;
    width: 170px;
    text-align: center;
    border-block-start: 2px solid rgb(215, 69, 144);
    display: none;
}

#basketDiv:hover > #basketInfo{
    display: block;
}

@media (max-width: 540px) {
    .largeHeader, .secondHeader, .thirdHeader {
        display: none;
    }
    #logo {
        width: 120px;
    }
    .headers{
        padding: 0 0;
        margin: 10 20;
    }
    #basket{
        width: 50px;
        margin-top: -10px;
    }
    #login{
        width: 100px;
    }
    #pull {
        display: unset;
    }
    .clearfix > li{
        display: none;
    }
}