.registrationBlock {
    border: 1px solid whitesmoke;
    width: 450px;
}

label {
    margin: 0 5;
}

input {
    width: 98%;
    margin: 0 5;
}

.registrationBlock button {
    background: rgb(215, 69, 144);
    border: rgb(215, 69, 144);
    font-size: 13px;
}

.registrationBlock button:hover {
    background: rgb(235, 112, 151);
}

.formMessage {
    display: none;
}